# Model Building

In [1]:
#imports
from zipfile import ZipFile
import io
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [2]:
# with ZipFile(zip_file_path, 'r') as zip_ref:
#     # Read the CSV file from the zip archive
#     with zip_ref.open(csv_file_name) as file:
#         # Load the CSV file into a DataFrame
#         data = pd.read_csv(file)
data = pd.read_csv('../Data/full_cleaned_data.csv')
data.head()

,user_id,bill_id,line_item_amount,bill_discount,transaction_date,description,inventory_category,colour,size,zone_name,store_name,year,transaction_day,transaction_month
0,403252497,401641461,1049.5,0.0,2018-08-11 00:00:00.000000000,111547,52056,23,31,1,8,2018,11,8
1,357000026,397716483,659.4,0.0,2018-07-22 00:00:00.000000000,26451,12021,280,15,2,48,2018,22,7
2,372773935,362298787,1899.0,0.0,2018-01-12 00:00:00.000000000,111635,52056,369,21,2,45,2018,12,1
3,362714910,360637282,1799.0,0.0,2018-01-03 00:00:00.000000000,111631,52056,199,14,2,45,2018,3,1
4,393891557,374396867,1299.0,0.0,2018-03-29 00:00:00.000000000,26486,11943,327,23,1,17,2018,29,3

In [7]:
data_d = data.drop(columns=['transaction_date'])
data_d.head()

,user_id,bill_id,line_item_amount,bill_discount,description,inventory_category,colour,size,zone_name,store_name,year,transaction_day,transaction_month
0,403252497,401641461,1049.5,0.0,111547,52056,23,31,1,8,2018,11,8
1,357000026,397716483,659.4,0.0,26451,12021,280,15,2,48,2018,22,7
2,372773935,362298787,1899.0,0.0,111635,52056,369,21,2,45,2018,12,1
3,362714910,360637282,1799.0,0.0,111631,52056,199,14,2,45,2018,3,1
4,393891557,374396867,1299.0,0.0,26486,11943,327,23,1,17,2018,29,3

#### Feature Engineering:

In [10]:
# Select features for scaling
scaler = StandardScaler()

# Fit and transform the data
scaled_data = scaler.fit_transform(data_d)

# Convert back to a DataFrame
scaled_data = pd.DataFrame(scaled_data, columns=data_d.columns)
scaled_data.head()

,user_id,bill_id,line_item_amount,bill_discount,description,inventory_category,colour,size,zone_name,store_name,year,transaction_day,transaction_month
0,0.037077,-1.415184,-0.289835,-0.114351,1.965438,1.349312,-2.256803,-0.943224,-2.363282,-2.024840,-1.52622,-0.535766,0.308730
1,-0.359822,-1.445114,-0.686150,-0.114351,-0.940005,-1.053280,0.484622,-1.853750,-1.454740,-1.455444,-1.52622,0.704489,0.031313
2,-0.224464,-1.715193,0.573198,-0.114351,1.968443,1.349312,1.433987,-1.512303,-1.454740,-1.498149,-1.52622,-0.423015,-1.633190
3,-0.310782,-1.727863,0.471605,-0.114351,1.968306,1.349312,-0.379407,-1.910658,-1.454740,-1.498149,-1.52622,-1.437769,-1.633190
4,-0.043251,-1.622938,-0.036361,-0.114351,-0.938810,-1.057961,0.985972,-1.398487,-2.363282,-1.896726,-1.52622,1.493742,-1.078356